:root{
  --myColor1: #ebebeb;
  --myColor2: #c0c0c0;
  --myColor3: #3A6EA5;
  --myColor4: #004E98;
  --myColor5: #FF6700;
  --myColor6: #212529;
  --myColor7: #009688;
  --myColor8: #E53935;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.mainHome {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homeSpan {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 3rem;
  color: var(--myColor1);
  z-index: 2;
  font-family: 'Whisper', cursive;
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--myColor3);
  overflow: hidden;
  
}
li {
  list-style: none;
  position: absolute;
  bottom : -300px;
  
}

li > *  {
  color: var(--myColor1);
  display: block;
  animation: animateBackground 30s linear infinite; 
  overflow: hidden;
}

.mainLoginPageContainer{
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.loginPageWrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  gap: 5vh;
  transform: translate(-50%,-50%);
  transition: 2s;
  
}

.choiceContainer {
  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.choiceTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.choiceNavbar {
  width: 50%;
  position: relative;  
  cursor: pointer;
}
.bar{
  height: 20px;
  border-radius: 5px;
  background-color: var(--myColor4);
}

.choiceTitle p {
  color: var(--myColor1);
  font-size: 1.5rem;
}

.loginPageBox {
  width: 25vw;
  min-width: 400px;
  height: 50vh;
  background-color: var(--myColor1);
  display: flex;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  border-radius: 5px; 
}

.inputContainer {
  width: 100%;
  gap:.5rem; 
}

.infoValidation {
  width: 70%;
  margin-top: -10px;
  padding: 10px;
  background-color: var(--myColor6);
  color: var(--myColor1);
  border-radius: 5px;
  font-size: 0.8rem;
}

.relativeBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 5s;
}

.boxWrapFlipped .boxWrap {
  transform: rotateY(180deg);
}

.relativeBox > span {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--myColor4);
}

.relativeBox button {
  background-color: var(--myColor3);
  font-size: 1.5rem;
  color: var(--myColor1);
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  cursor: pointer;
}

.loginPageBox input {
  height: 2rem;
  border: none;
  background-color: transparent;
  color: var(--myColor4);
  width: 100%;
  outline: none;
  font-size: 1.2rem;
}

input::placeholder{
  color: var(--myColor4); 
}

.inputBox{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 70%;
  height: 3rem;
  
}
.inputBox *{
  padding-left: 10px;
  
}
.inputBoxPlaceHolder {
  position: relative;
  background-color: var(--myColor2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--myColor4);
  height: 2rem;
}

.flexColumnCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer span {
  text-align: center;
  font-size: rem;
  padding: 10px;
}

.mainManagerContainer {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--myColor1);
  background-color: rgba(0, 78, 152, 0.3)
}

.filmInputSearchBar {
  position: relative; 
  min-width: 60%;
}

.filmInputSearchBar input {
  padding: 0.8em;
  outline: none;
  border: 3px solid var(--myColor1);
  background-color: transparent;
  border-radius: 99999px;
  width: 100%;
  color: var(--myColor1);
  
}

.filmInputSearchBar label {
  font-size: 100%;
  position: absolute;
  left: 5%;
  top: 35%;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: var(--myColor1);
}
.mainNavbar button {
  background-color: var(--myColor3);
  padding: 1.2rem;
  padding: 1.1rem;
  border-radius: 9999px;
  font-size: 1.2rem;
  color: var(--myColor1);
  transition: .2s;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid var(--myColor1);
  transition: .3s;
}

.mainNavbar button:hover,
.mainNavbar svg:hover {
  color: var(--myColor5);
  border: 3px solid var(--myColor5)
}


.filmInputSearchBar input:placeholder-shown ~ label {
  transform: translateY(-50%);
  top: 50%;
  margin-left: 0;
}

.filmInputSearchBar input:not(:placeholder-shown) ~ label,
.filmInputSearchBar input:focus ~ label {
  transform: translateX(-10%) translateY(-85%) scale(0.8);
  margin: 0;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: var(--myColor3);
}

.filmInputSearchBar :is(input:focus, input:valid) {
  border-color: var(--myColor1);
}


.moduls {
  flex-shrink: 0;
}

.moviesList {
  background-color: var(--myColor4);
  flex: 1;
  width: 100%;
}

.mainNavbar {
  width: 100%;
  overflow: hidden;
  height: 130px;
  display: flex;
  background-color: var(--myColor3);
  justify-content: space-around;
  align-items: center;
}

.mainNavbar span {
  font-size: 3rem;
  font-family: 'Whisper', cursive;
  padding: 20px;
  color: var(--myColor1);
  width: 400px;
}

.mainNavbar div {
  color: var(--myColor1);
  padding: 20px;
  font-weight: 700;
  font-size: 1.2rem;
}

.logoutContainer {
  display: flex;
  align-items: center;
}

.logoutContainer :nth-child(2) {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: .1s;
}


.mainCategoryButtons {
  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2vw;
  opacity: 0;
 
  
}

.mainCategoryButtons > a > img{
  width: 20vw;
  margin-left: 2vw;
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid var(--myColor3);
  border: 3px solid var(--myColor4);
  background-color: var(--myColor1);
  
}

.mainCategoryButtons button{
  padding: 8px 20px;
  border-radius: 5px;
  background-color: var(--myColor1);
  color: var(--myColor4);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  border: 3px solid var(--myColor4);
  margin: 2vh auto;
  transition: .2s;
  
}

.mainCategoryButtons button:hover{
 transform: scale(1.2);
 background-color: #fff;
 
}

.mainMoviesListContainer {
  
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  overflow: hidden;
  
}

.mainMoviesListContainer > span{
  color: var(--myColor4);
  font-size: 4rem;
  user-select: none;
  font-family: 'Anton', sans-serif;
  
}

.mainMoviesListContainer > span div{
  font-family: 'Anton', sans-serif;
  
}

.checkTrue {
  position: absolute;
  right: 25px;
  width: 3rem;
  height: 3rem;
  color: var(--myColor7);
  
}
.checkFalse {
  position: absolute;
  right: 25px;
  width: 3rem;
  height: 3rem;
  color: var(--myColor8);
  
}

.checkHidden {
  display: none;
  
}

.backgroundComponent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  overflow: hidden;
  z-index: -1;
  
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 8s ease-in-out;
  
}

.backgroundImage.visible {
  opacity: 0.3;
  animation: zoomEffect 100s  infinite; 
  
  
}

.singleMovieContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 300px;
  height: 650px;
  border: 2px solid var(--myColor3);
  background-color: var(--myColor1);
  color: var(--myColor4);
  font-weight: 700;
  padding: 5px 5px 10px;
  
}

.singleMovieContainer > a {
  width: 100%;
  height: 65%;
}

.singleMovieContainer > a > img {
  width: 100%;
  height: 100%;
  
  
}


.singleMovieContainer > :nth-child(2) {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  
}
.singleMovieInfo {
  display: flex;
  flex-direction: column;
  
}

.voteCircle {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5rem;
  height: 5rem;
  color: var(--myColor4);
  border-radius: 9999px;
  background-color: var(--myColor1);
  z-index: 5;
  border: 2px solid var(--myColor4);
  line-height: 4.5rem;
  text-align: center;
  font-size: 2rem;
  
}

.addRemoveMovie {
  position: absolute;
  bottom: 10px;
  right: 10px;
  bottom: .5rem;
  right: .5rem;
  width: 5rem;
  height: 5rem;
  transition: transform .3s; 
}

.addRemoveMovie:hover {
  transform: scale(0.9);
  cursor: pointer;
  
}

.movieDetailsBackground{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  
}

.movieDetailsContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 60vh;
  color: var(--myColor1);
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 78, 152, 0.8);
}

.movieDetailsContainer img {
  width: 50%;
  object-fit: cover;
}


.movieDetailsInfoContainer {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  justify-content: space-between;
  align-items: flex-start;
  text-align: justify;
  
}

.movieDetailsInfoContainer > :nth-child(1) {
  font-size: 2.5rem;
  
}

.movieDetailsButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: .5s;
  
}

.movieDetailsButtonContainer > span {
  width: 80%;
  
}

.movieDetailsButtons {
  width: 2.5rem;
  height: 2.5rem;
  
}

.movieDetailsButtons:hover {
  color: var(--myColor5);
  cursor: pointer;
  
}

.closeButton {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 5rem;
  height: 5rem;
  color: var(--myColor1);
  cursor: pointer;
  font-weight: 900;
  transition: .3s;
  
}

.closeButton:hover {
  transform: scale(1.2);
  color: var(--myColor5);
}

.articlePopUp{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5vh;
  right: -102vw;
  width: 17vw;
  height: 12vh;
  border-radius: 5px;
  background-color: var(--myColor1);
  text-align: center;
  color: var(--myColor4);
  font-size: 1.5rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  transition: right 0.5s ease
}

.addRemovePopUp{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  right: 50px;
  width: 17vw;
  height: 12vh;
  border-radius: 5px;
  background-color: var(--myColor1);
  text-align: center;
  color: var(--myColor4);
  font-size: 1.5rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  transition: right 0.5s ease;
  z-index: 555;
}


@keyframes animateBackground {
  0%{
      transform: translateY(0) rotate(0deg);
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      border-radius: 50%;
      opacity: 0;
  }
}

@keyframes animateTitle {
  0%{
    opacity: 0;
}
  90%{
    opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

@media screen and (max-width: 768px) {
  .movieDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    min-height: 80vh;
    color: var(--myColor1);
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 78, 152, 0.8);
  }
  .movieDetailsContainer img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .movieDetailsInfoContainer > :nth-child(1) {
    font-size: 1.5rem;
    
  }
}

@media screen and (max-width: 1300px) {
  .movieDetailsInfoContainer span,a {
    font-size: .7rem;
  }
  .mainNavbar span {
    font-size: 1.5rem;
    
  }
}


