:root{
  --myColor1: #ebebeb;
  --myColor2: #c0c0c0;
  --myColor3: #3A6EA5;
  --myColor4: #004E98;
  --myColor5: #FF6700;
  --myColor6: #212529;
  --myColor7: #009688;
  --myColor8: #E53935;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--myColor3);
  overflow: hidden;
}
li {
  list-style: none;
  position: absolute;
  bottom : -300px;
}

li > *  {
  color: var(--myColor1);
  display: block;
  animation: animateBackground 30s linear infinite; 
}

.mainTitle{
  color: var(--myColor1);
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%,-50%);
  animation: animateTitle 3s linear;
}
.mainTitle * {
  font-size: 10vh;
  text-align: center;
 
}

.loginPageWrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 5vh;
  transform: translate(-50%,-50%);
  transition: 2s
}

.choiceContainer{
  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.choiceTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.choiceNavbar{
  width: 50%;
  position: relative;  
  cursor: pointer;
}
.bar{
  height: 20px;
  border-radius: 5px;
  background-color: var(--myColor4);
}

.choiceTitle p{
  color: white;
  font-size: 1.5rem;
}

.loginPageBox{
  width: 30vw;
  height: 50vh;
  background-color: var(--myColor1);
  display: flex;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  border-radius: 5px;
}

.inputContainer{
  width: 100%;
  gap:.5rem; 
}

.infoValidation{
  width: 70%;
  margin-top: -10px;
  padding: 10px;
  background-color: var(--myColor6);
  color: var(--myColor1);
  border-radius: 5px;
  font-size: 0.8rem;
}

.relativeBox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 5s;
}

.boxWrapFlipped .boxWrap {
  transform: rotateY(180deg);
}

.relativeBox > span {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--myColor4);
}

.relativeBox button {
  background-color: var(--myColor3);
  font-size: 1.5rem;
  color: var(--myColor1);
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  cursor: pointer;
}



.loginPageBox input {
  height: 2rem;
  border: none;
  background-color: transparent;
  color: var(--myColor4);
  width: 100%;
  outline: none;
  margin: auto;
  font-size: 1.2rem;
}

input::placeholder{
  color: var(--myColor4); 
}

.inputBox{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 70%;
  height: 3rem;
  
}
.inputBox *{
  padding-left: 10px;
  
}
.inputBoxPlaceHolder {
  position: relative;
  background-color: var(--myColor2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--myColor4);
  height: 2rem;
}

.flexColumnCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer span {
  text-align: center;
  font-size: rem;
  padding: 10px;
}

.mainManagerContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--myColor1);
}

.filmInputSearchBar {
  width: 70vw;
  position: relative; 
}

.filmInputSearchBar input {
  padding: 0.8em;
  outline: none;
  border: 3px solid var(--myColor1);
  background-color: transparent;
  border-radius: 99999px;
  width: 100%;
  color: var(--myColor1);
}

.filmInputSearchBar label {
  font-size: 100%;
  position: absolute;
  left: 5%;
  top: 35%;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: var(--myColor1);
}

.filmInputSearchBar :is(input:focus)~label {
  transform: translateX(-10%) translateY(-85%) scale(.8);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: var(--myColor3);
}

.filmInputSearchBar :is(input:focus, input:valid) {
  border-color: var(--myColor1);
}
.moduls {
  flex-shrink: 0;
}

.filmList {
  background-color: var(--myColor4);
  flex: 1;
  width: 100%;
}

.mainNavbar {
  width: 100%;
  height: 8vw;
  display: flex;
  background-color: var(--myColor3);
  justify-content: space-between;
  align-items: center;
}

.mainNavbar span {
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  padding: 20px;
  color: var(--myColor1);
}

.mainNavbar div {
  color: var(--myColor1);
  padding: 20px;
}

.logoutContainer {
  display: flex;
  align-items: center;
}

.mainCategoryButtons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--myColor1);
  gap: 2vw;
  max-width: 1500px;
}

.mainCategoryButtons > a > img{
  width: 20vw;
  margin-left: 2vw;
}

.mainCategoryButtons button{
  padding: 8px 20px;
  border-radius: 5px;
  background-color: var(--myColor1);
  color: var(--myColor4);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  border: 3px solid var(--myColor4);
  margin: 2vh auto;
  transition: .2s;
  
}

.mainCategoryButtons button:hover{
 transform: scale(1.2);
 background-color: #fff;
}

.mainFilmListContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mainFilmListContainer > span{
  color: var(--myColor4);
  font-size: 4rem;
  user-select: none;
  font-family: 'Anton', sans-serif;
}

.mainFilmListContainer > span div{
  font-family: 'Anton', sans-serif;
}

.checkTrue {
  position: absolute;
  right: 25px;
  width: 3rem;
  height: 3rem;
  color: var(--myColor7);
}
.checkFalse {
  position: absolute;
  right: 25px;
  width: 3rem;
  height: 3rem;
  color: var(--myColor8);
}


.checkHidden {
  display: none;
}


@keyframes animateBackground {

  0%{
      transform: translateY(0) rotate(0deg);
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      border-radius: 50%;
      opacity: 0;
  }

}

@keyframes animateTitle {

  0%{
    opacity: 0;
}

  90%{
    opacity: 0;
  }

  100%{
      opacity: 1;
  }

}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

